h1 {
    padding-top: 20px;
}

td a {
    text-decoration: none;
    margin-top: 20px;
    
}

td a:hover {
    text-decoration: none;
    color: grey;
}

.menu, #sectionterror, #sectionaccion, #sectionsupervivencia, #sectioncarreras, #sectionfreetoplay, #sectionmundoabierto{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; 
}

#sectionterror, #sectionaccion, #sectionsupervivencia, #sectioncarreras, #sectionfreetoplay, #sectionmundoabierto{
    display:none;
}

.menu li, #sectionterror li, #sectionaccion li, #sectionsupervivencia li, #sectioncarreras li, #sectionfreetoplay li, #sectionmundoabierto li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}

li a, h3 {
    text-decoration: none;
    margin-top: 20px;
    
}
li a:hover {
    text-decoration: none;
    color: grey;
}

@media (min-width:1001px){
    img {
        width: 250px;
        height: 150px;
    }
}

@media (max-width:1000px){
        img {
            width: 200px;
            height: 100px;
        }
}
